node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/vendor
.env
.env.example
/storage
bootstrap/cache

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

.DS_Store
Thumbs.db
.idea/
.vscode/
